<div class="table">
  <div class="row">
    <div class="cell" style="float: right; height: 10px">
      <button mat-button [mat-dialog-close]="true">X</button>
    </div>
  </div>
  <div class="row">
    <div class="cell" align="center">
      <h2 mat-dialog-title>Корзина</h2>
      <mat-divider style="padding-bottom: 10px"></mat-divider>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <mat-dialog-content>
        <div class="table">
          <div class="row" *ngIf="getOrders().length == 0">
            <div class="cell">
              <font class="errortext">Ваша корзина пуста</font>
            </div>
          </div>
          <div *ngIf="getOrders().length > 0">
            <div class="row" *ngFor="let item of getOrders()">
              <div class="cell">
                <img class="basketImg" [routerLink]="['/category/' + item.categoryId + '/detail', item.productId]"
                     mat-card-image
                     src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="{{item.goodsName}}">
              </div>
              <div class="cell matCardContent">
                <mat-card-content>
                  <p>
                    {{item.goodsDescription | slice:0:250}}...
                  </p>
                </mat-card-content>
              </div>
              <div class="cell" style="width: 100px">
                <span class="formField">{{item.price / 100 | number:'3.2-5'}} ₽</span>
              </div>
              <div class="cell" style="width: 50px">
                <input matInput type="number" placeholder="Кол-во" value="1" min="1" class="formField">
              </div>
              <div class="cell">
                <button mat-button (click)="deleteProdict(item)">X</button>
              </div>
            </div>
          </div>
        </div>

      </mat-dialog-content>
    </div>
  </div>
  <div class="row" *ngIf="getOrders().length > 0">
    <div class="cell" align="right">
      <mat-divider style="padding-top: 10px"></mat-divider>
      Итого: <span>{{getTotalPrice() / 100 | number:'3.2-5'}} ₽</span>
    </div>
  </div>

  <div class="row" *ngIf="getOrders().length > 0">
    <div class="cell" align="center">
        <mat-divider style="padding-top: 10px"></mat-divider>
        <button mat-button mat-raised-button color="primary"  [mat-dialog-close]="true" [routerLink]="['/order']">Оформить заказ</button>
    </div>
  </div>

</div>



