.basketImg {
  width: 100px;
  padding: 0px;
  margin: 0px;
}

.table {
  display: table;
  width: 99%;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  vertical-align: top;
  padding: 5px;
}

.mat-dialog-title {
  margin: 0;
}

.matCardContent {
  width: 450px;
  text-align: left;
  vertical-align: top;
}

font.errortext {
  color: red;
}

.errortext {
  color: #D8000C;
  background-color: #FFD2D2;
  display: inline-block;
  padding: 10px 5px 10px 5px !important;
  width: 100%;
  font-size: 15px;
}

.formField{
  font-size: 15px;
  color: dimgray;
  border: none;
  width: 50px;
  text-align: right;
  padding: 0;
}
