<mat-card>
  <mat-card-title>
    Оформление заказа
  </mat-card-title>

  <mat-form-field class="full-width">
    <input matInput placeholder="Е-мэйл *" [formControl]="emailFormControl" (keyup)="onEmailKey($event)"
           [errorStateMatcher]="matcher" [value]="email">
    <mat-hint>Укажите свой е-мэйл адрес</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Введите пожалуйста корректный е-мэйл адрес
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Е-мэйл адрес <strong>обязателен</strong>
    </mat-error>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="full-width">
    <!--<span matPrefix>+7 &nbsp;</span>-->
    <input type="tel" [formControl]="phoneFormControl" matInput placeholder="Мобильный телефонный номер *" (keyup)="onPhoneKey($event)">
    <mat-hint>Укажите свой контактный мобильный телефонный номер</mat-hint>
    <mat-error *ngIf="phoneFormControl.hasError('pattern') && !phoneFormControl.hasError('required')">
      Введите пожалуйста корректный мобильный телефонный номер, например +79095404606
    </mat-error>
    <mat-error *ngIf="phoneFormControl.hasError('required')">
      Телефонный номер <strong>обязателен</strong>
    </mat-error>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input [formControl]="nameFormControl" matInput placeholder="Имя *" (keyup)="onNameKey($event)">
    <mat-hint>Введите свое имя</mat-hint>
    <mat-error *ngIf="phoneFormControl.hasError('required')">
      Имя <strong>обязательно</strong>
    </mat-error>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input [formControl]="lastNameFormControl" matInput placeholder="Фамилия *" (keyup)="onLastNameKey($event)">
    <mat-hint>Введите свою фамилию</mat-hint>
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Фамилия <strong>обязательна</strong>
    </mat-error>
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-card-actions>
    <button mat-button mat-raised-button color="primary" (click)="send()">Отправить</button>
  </mat-card-actions>

</mat-card>
