.expansion-panel{
  margin-bottom: 0px;
  margin-top: 0px;
}

.expansion-panel-header{
  height: 28px;
}

.left-col {
  min-width: 200px;
  background-color: cornsilk;
}

.top-menu {
  min-width: 500px;
  background-color: azure;
}

.logo-panel {
  background-color: aliceblue;
}

.search-panel {
  background-color: beige;
}

.right-col {
  background-color: azure;
}
