.sidenav-container {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: ivory;
}

.top-menu{
  /*align-items: center;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*background-color: antiquewhite;*/
}

.search-panel{
  /*align-items: center;*/
  /*display: flex;*/
  /*justify-content: center;*/
  background-color: aquamarine;
}

.logo-panel{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: azure;
}

.expansion-panel{
  margin-bottom: 0px;
  margin-top: 0px;
}

.expansion-panel-header{
  height: 28px;
}
