<div class="container" fxShow="true" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0%"
     fxLayoutAlign="center">
  <div fxFlex="100%">
    <mat-card style="float: left">
      <mat-card-title>
        {{detail.name}}
      </mat-card-title>

      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="{{detail.name}}">

      <mat-card-content>
        <p>
          Стильное и роскошное покрывало Гобелен размером 150х215 из синтепона. Легкое, приятное на ощупь, не теряет
          насыщенность цвета после многократных стирок. Согласно оригинальной задумке дизайнера стежка на покрывале
          подчеркивает рисунок ткани но и препятствует сбиванию наполнителя Верх покрывала выполнен из набивной бязи.
          Наполнитель покрывала - полиэфирное волокно, плотно закрепленное узорной стежкой.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card style="float: right">
      <mat-card-header>
        <span>Рейтинг товара:</span>
        <ol class="starWrapper">
          <li ng-repeat="Star in [1,2,3,4,5]">
            <div ng-switch="1 >= Star">
                <img ng-switch-when="true" src="assets/star.jpeg" class="star"/>
                <img ng-switch-when="true" src="assets/star.jpeg" class="star"/>
            </div>
          </li>
        </ol>
      </mat-card-header>
      <mat-divider [inset]="true"></mat-divider>
      <br/>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip color="primary" selected>Купить</mat-chip>
          <mat-chip color="accent" selected>Цена 1 490 ₽</mat-chip>
        </mat-chip-list>
        <mat-chip-list>
          <mat-chip style="background-color: #2ecc71" color="green" selected>Есть в наличии</mat-chip>
          <mat-chip>Самовывоз: сегодня</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>



