<form [formGroup]="stateForm">
    <div class="wildSrch">
      <input matInput class="sq" placeholder="Поиск товаров и категорий" maxlength="300" aria-label=""
             formControlName="stateGroup" [matAutocomplete]="autoGroup"
             [formControl]="stateCtrl" (keyup.enter)="search()">
      <div class="resSrch" (click)="resetItem()" md-tooltip="some message" tooltip-position="below"></div>
      <div class="find" (click)="search()"></div>
    </div>
    <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)="selectOption($event)">
      <mat-optgroup *ngFor="let group of groupList" [label]="group.name">
        <mat-option *ngFor="let option of group.options" [value]="option">
          {{option.name}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
</form>
