<form>
  <mat-form-field>
    <div class="wildSrch">
      <input matInput class="sq" placeholder="" maxlength="300" aria-label="" [matAutocomplete]="auto" [formControl]="stateCtrl">
      <input id="btnSrchClear" type="button" class="resSrch" value="Сбросить">
      <input id="btnSrch" type="button" class="find" value="Искать">
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <img style="vertical-align:middle;" aria-hidden src="{{state.flag}}" height="25" />
        <span>{{ state.name }}</span> |
        <small>Population: {{state.population}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
