<div class="container" fxShow="true" fxHide.lt-md="false" fxLayout="row" fxLayout.xs="column" fxLayoutWrap
     fxLayoutGap="0%" fxLayoutAlign="center" *ngIf="route.children.length === 0">
  <div fxFlex="10%">
    <mat-accordion multi="false">
      <app-catalog></app-catalog>
    </mat-accordion>
  </div>
  <div fxFlex="90%">
    <mat-grid-list cols="4" rowHeight="445px">
      <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1">
        <mat-card class="example-card">
            <img [routerLink]="['./detail', tile.id]" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content class="matCardContent">
            <p>
              {{tile.name}}
              <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
              <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
              <!--bred for hunting.-->
            </p>
          </mat-card-content>
          <mat-chip-list aria-orientation="horizontal" class="matChipList">
            <mat-chip selected [color]="['primary']">Купить</mat-chip>
          </mat-chip-list>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageIndex]="pageIndex"
                   (page)="pageEvent = getServerData($event)">
    </mat-paginator>
  </div>
</div>

<div fxShow="true" fxHide.gt-sm="true" *ngIf="route.children.length === 0">
  <mat-grid-list cols="1" rowHeight="100px">
    <mat-grid-tile *ngFor="let tile of tiles" [colspan]="1" [rowspan]="1" style="background-color: aquamarine">
      {{tile.name}}
      <a mat-button [routerLink]="['./detail', tile.id]">{{tile.name}}</a>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 (page)="pageEvent = getServerData($event)">
  </mat-paginator>
</div>


<router-outlet></router-outlet>
